.custom-button {
  --size: 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;
  border: 0;

  height: var(--size);
  line-height: var(--size);
  max-height: initial;
  border-radius: 0.4rem;
  padding: 0 3rem;

  &_medium {
    --size: 4rem;
  }

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    padding: 0;

    background: transparent;
    border-radius: 50%;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

.darkMode {
  .custom-button:not([disabled]) {
    border-color: var(--color-denim);
    color: var(--color-white);
    background-color: var(--color-tundora);
  }
}
