.header {
  background-color: var(--color-violet-blue);

  &__content {
     display: flex;
     justify-content: space-between;
     align-content: center;
     min-height: 6.4rem;
     padding: 1rem 2.4rem;
     max-width: var(--max-page-width);
     margin: 0 auto;
   }

  &__logo {
     display: flex;
     align-items: center;
     text-decoration: none;
   }

  &__logo-img {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1rem;
    color: var(--color-white);
  }

  &__logo-text {
     font-size: 2rem;
     font-weight: var(--fw-medium);
     color: var(--color-white);
   }

  &__button-group {
     display: flex;
     align-items: center;
     gap: 1rem;
   }

  &__buton-icon {
     width: 3.6rem;
     height: 3.6rem;
   }
}
