.mode-switcher {
  display: flex;
  align-items: center;
  //height: 24px;

  gap: 1rem;
  padding: 0.4rem 1.2rem;
  color: var(--color-platinum);
  border-radius: 0.8rem;
  box-shadow: inset 0 0.2rem 1rem rgb(0 0 0 / 25%);

  &__icon-wrapper {
    height: 24px;
    width: 24px;
    fill: var(--color-white);
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.4));
  }
}
