.sidebar {
  width: 27rem;
  height: calc(100vh - 6.4rem);
  min-height: 100%;
  padding: 2.4rem 1.6rem;
  border: 1px solid var(--nav-border);
  background: var(--nav-bg);

  .user {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--color-platinum);

    &__img-wrapper {
      margin: 0 auto 1.6rem;
      text-align: center;

      width: 10rem;
      height: 10rem;
      font-size: 10rem;
      box-shadow: var(--shadow-block);
      border-radius: 50%;
      color: var(--color-slate-gray);
      background-color: var(--color-ghost-white);
    }

    &__img {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
      box-shadow: var(--shadow-block);
      border-radius: 50%;
      color: var(--color-slate-gray);
      background-color: var(--color-ghost-white);
    }

    &__name {
      margin-bottom: 0.4rem;
      color: var(--nav-title-text);
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
    }

    &__company {
      color: var(--nav-subtitle-text);
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .nav {
    &__list {
      margin: 0;
      padding: 0;
    }

    &__list-item {
      display: block;
      margin-bottom: 0.8rem;
    }

    &__link {
      display: flex;
      align-content: center;
      min-height: 4.6rem;
      padding: 1rem 1.8rem;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: var(--fw-medium);
      border-radius: 0.4rem;
      color: var(--nav-link-text);

      span {
        display: inline-flex;
        align-items: center;
      }

      &:hover {
        background-color: var(--nav-link-active-bg);
      }

      &.active {
        background-color: var(--nav-link-active-bg);
        box-shadow: inset 3px 0 0 var(--color-denim);
      }
    }

    &__icon {
      margin-right: 1rem;
      height: 2.4rem;
      flex: 0 0 2.4rem;
    }
  }
}
