.slide-toggle {
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    display: block;
    border-radius: 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: var(--color-white);
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background-color: var(--color-quick-silver);
  }

  label:active:after {
    width: 30px;
  }
}
